@charset "UTF-8";

body{
    background: black url(../imagens/back-tablet.jpg) no-repeat center/cover fixed;
}

#tablet{ display: block;}
#phone{ display: none;}

@media screen and (min-width:1000px) {
    body{
        background: black url(../imagens/back-pc.jpg) no-repeat center/cover fixed;
    }
    #pcicone{display: block;}
    #tablet{ display: none;}
    #phone{ display: none;}
}

@media screen and (min-width:1500px) {
    body{
        background: black url(../imagens/back-tv.jpg) no-repeat center/cover fixed;
    }
    #tablet{ display: none;}
    #tv{display: block;}
}

