@charset "UTF-8";
@media screen and (min-width:825px) and (min-height:575px) {
    main{
        height: 70vh;
    }
    
    section#fundo{
        background: black url(../imagens/padrão\ login.jpg) no-repeat left center/cover fixed;
        float: right;
        width: 40%;
        height: 100%;
        border-radius: 0px 8px 8px 0px;
    }
    
    section#formulario>h1{
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.37);
        padding: 1em 0px;
    }
    
    section#formulario>p{
        text-indent: 8px;
    }
    
    form{
        padding: 1em
    }
    
    form>label{
        width: 59%;
    }
    
    form>label>input{
        height: 30px;
        width: 90%;
        border-radius: 8px;
        background-color: #92CECB;
    }
    
    form>label>input:hover{
        background-color: white;
    }
    
    .botoes{
        display: block;
        width: 59%;
        height: 40px;
    }
    
    #espaço{
        display: none;
    } 
}


