@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom,#5D3783,#51678C,#387275);
}

main{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 90vh;
    width: 75vw;
    border-radius: 8px;
    background-color: white;
}

section#fundo{
    background: black url(../imagens/padrão\ login.jpg) no-repeat left center/cover fixed;
    border-radius: 8px 8px 0px 0px;
    height: 40%;
}

section#formulario{
    padding: 8px;
}

section#formulario>h1{
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.37);
    text-align: center;
    padding: 5px 0px;
}

section#formulario>p{
    text-indent: 8px;
    text-align: justify;
}

form{
    text-align: center;
    padding: 8px 0px;
}

form>label{
    display: block;
    background-color:#602A7F;
    width: 100%;
    border-radius: 5px;
    padding: 5px 0px;
}

form>label>input{
    height: 25px;
    width: 75%;
}

#pessoa{
    position: relative;
    top: 5px;
    color: white;
}

#chave{
    position: relative;
    top: 5px;
    color: white;
}

.botoes{
    background-color: #4CA29C;
    color: white;
    border: 1px solid #4CA29C;
    border-radius: 8px;
    padding: 5px 0px;
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
}

.botoes:hover{
    background-color: white;
    color: #4CA29C;
    transition: 0.5s;
}

